<div class="split-container d-flex flex-row">
  <form [formGroup]="productFormContainer" class="w-75">
    <div formArrayName="productForm" class="calculator-container">
      <div *ngFor="let product of getLinesOfProducts().controls; let i = index">
        <div class="card mb-5" [formGroupName]="i">
          <div class="card-header d-flex flex-row justify-content-between">
            <div class="card-header-text">produit {{ i + 1 }}</div>
            <div
              class="card-header-delete"
              *ngIf="getLinesOfProducts().length > 1"
            >
              <svg-icon
                src="../../assets/icons/trash.svg"
                class="mr-2"
                (click)="deleteProduct(i)"
              ></svg-icon>
            </div>
          </div>
          <div class="card-body">
            <div class="flex-form">
              <div class="form-cell">
                <label for="support-{{ i }}">Support</label>
                <select
                  formControlName="support"
                  name="support-{{ i }}"
                  id="support-{{ i }}"
                  (change)="onItemSelection(i)"
                >
                  <option disabled selected value=""></option>
                  <option
                    *ngFor="let item of supportsItems"
                    value="{{ item.name }}"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div
                *ngIf="
                  getLinesOfProducts().controls[i].get('type')?.value ===
                    'panel' ||
                  getLinesOfProducts().controls[i].get('type')?.value === 'roll'
                "
                class="form-cell"
              >
                <label for="length-{{ i }}">Longueur<small>(cm)</small></label>
                <input
                  type="text"
                  formControlName="length"
                  id="length-{{ i }}"
                />
              </div>
              <div
                *ngIf="
                  getLinesOfProducts().controls[i].get('type')?.value ===
                    'panel' ||
                  getLinesOfProducts().controls[i].get('type')?.value === 'roll'
                "
                class="form-cell"
              >
                <label for="width-{{ i }}">Largeur<small>(cm)</small></label>
                <input type="text" formControlName="width" id="width-{{ i }}" />
              </div>
              <div
                *ngIf="
                  getLinesOfProducts().controls[i].get('type')?.value ===
                    'panel' ||
                  getLinesOfProducts().controls[i].get('type')?.value === 'roll'
                "
                class="form-cell"
              >
                <label for="quantity-{{ i }}">Quantité</label>
                <input
                  type="text"
                  formControlName="quantity"
                  id="quantity-{{ i }}"
                />
              </div>
              <div
                *ngIf="
                  getLinesOfProducts().controls[i].get('type')?.value === 'roll'
                "
                class="form-cell form-cell-options"
              >
                <div class="options">
                  <input
                    type="checkbox"
                    formControlName="shinyLaminate"
                    id="shinyLaminate-{{ i }}"
                    [disabled]="
                      getLinesOfProducts().controls[i].get('matteLaminate')
                        ?.value === true
                    "
                  />
                  <label for="shinyLaminate-{{ i }}">Laminat brillant</label>
                </div>
                <div class="options">
                  <input
                    type="checkbox"
                    formControlName="matteLaminate"
                    id="matteLaminate-{{ i }}"
                    [disabled]="
                      getLinesOfProducts().controls[i].get('shinyLaminate')
                        ?.value === true
                    "
                  />
                  <label for="matteLaminate-{{ i }}">Laminat matte</label>
                </div>
                <div class="options">
                  <input
                    type="checkbox"
                    formControlName="grommets"
                    id="grommets-{{ i }}"
                  />
                  <label for="grommets-{{ i }}">oeillets</label>
                </div>
                <div class="options">
                  <input
                    type="checkbox"
                    formControlName="reinforcements"
                    id="reinforcements-{{ i }}"
                  />
                  <label for="reinforcements-{{ i }}">renforts</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="add-version-btn btn btn-primary" (click)="onAddProduct()">
        <svg-icon src="../../assets/icons/plus.svg" class="mr-2"></svg-icon>
        version
      </button>
    </div>
  </form>

  <div class="recap w-25">
    <div *ngFor="let product of getLinesOfProducts().controls; let i = index">
      <div class="recap-container card mb-3">
        <p class="card-header">P.{{ i + 1 }} : {{ product.value.support }}</p>
        <div class="recap-body card-body">
          <div class="recap-body-item">
            {{ product.value.length }} X
            {{ product.value.width }}
          </div>
          <div class="recap-body-item">
            {{ product.value.quantity }}
            exemplaire(s)
          </div>
        </div>
        <div class="recap-body-item price-item">
          {{ product.value.price }} €
        </div>
      </div>
    </div>
  </div>
</div>

<button
  [disabled]="
    getLinesOfProducts().controls[0].get('quantity')?.value === '' ||
    getLinesOfProducts().controls[0].get('quantity')?.value === null
  "
  class="btn btn-secondary btn-calculate"
  (click)="calculate()"
>
  <svg-icon src="../../assets/icons/money.svg" class="mr-2"></svg-icon>
  Calculer
</button>
