<header id="header" class="d-flex align-items-center justify-content-between">
  <!--  <form id="seach">-->
  <!--    <svg-icon src="assets/icons/search.svg"></svg-icon>-->
  <!--  </form>-->
  <div class="title-container">
    <h1>
      {{ title }}
    </h1>
  </div>
  <div ngbDropdown class="ml-5" id="user">
    <button
      ngbDropdownToggle
      class="
        btn
        text-nowrap
        d-flex
        align-items-center
        justify-content-end
        text-left
        p-0
      "
    >
      <div class="avatar">
        <img alt="" />
      </div>
      <div class="mx-3">
        user.firstName<br />
        <small>currentCompany</small>
      </div>
    </button>

    <!-- <div ngbDropdownMenu aria-labelledby="dropdownUser" class="mt-3">
           <a ngbDropdownItem href="#" class="soon">{{ 'profile.view' | translate }}</a
      <a ngbDropdownItem routerLink="preference"> "profile.settings"</a>
           <a ngbDropdownItem href="#" class="soon">{{ 'profile.help' | translate }}</a
    </div> -->
  </div>
</header>
